<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.soundboardcrafter">

    <!-- Necessary for MediaPlayer#setWakeMode() -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Necessary for MediaPlayerServer#startForeground() -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- "Dangerous permissions" (need to be requested from the user): -->
    <!-- Necessary to read media files: https://developer.android.com/training/data-storage/shared/media#query-collection -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity
            android:name=".activity.main.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- The soft keyboard is hidden when the user chooses the activity -->
        <activity
            android:name=".activity.sound.edit.audiofile.list.AudiofileListSoundEditActivity"
            android:parentActivityName=".activity.main.MainActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.soundboard.play.SoundboardPlayActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.main.MainActivity" />
        <activity
            android:name=".activity.sound.edit.soundboard.play.SoundboardPlaySoundEditActivity"
            android:parentActivityName=".activity.soundboard.play.SoundboardPlayActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.favorites.edit.FavoritesCreateActivity"
            android:parentActivityName=".activity.main.MainActivity"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".activity.favorites.edit.FavoritesEditActivity"
            android:parentActivityName=".activity.main.MainActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.soundboard.edit.SoundboardCreateActivity"
            android:parentActivityName=".activity.main.MainActivity"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".activity.soundboard.edit.SoundboardEditActivity"
            android:parentActivityName=".activity.main.MainActivity"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".activity.settings.SettingsActivity"
            android:label="@string/settings_activity_title"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.settings.SettingsActivity" />
        <activity
            android:name=".activity.about.AboutActivity"
            android:label="@string/about_activity_title"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.main.MainActivity" />

        <service
            android:name=".activity.common.mediaplayer.MediaPlayerService"
            android:description="@string/media_player_service_description"
            android:exported="false" />
    </application>

</manifest>